---
import LoginLayout from '../layouts/LoginLayout.astro';
import RegulatoryPage from '../components/regulatory/RegulatoryPage';
---

<LoginLayout title="Regulatory Information">
  <div class="max-w-md mx-auto bg-white min-h-screen">
    <RegulatoryPage client:load />
  </div>
</LoginLayout>


