---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Login" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      body {
        background-color: #252525;
        color: white;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
